.infoContainer {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}

.clubsInfo {
  margin: 0 .8em;
}

.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4em;
}

.teamLabel {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   color: rgb(255, 255, 255);
   font-weight: bold;
}

.teamName {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   color: rgb(255, 255, 255);
}

.teamInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5em;
}

.spacer {
  height: 190px;
  width: 100%;
}

.teamHeader {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6em;
  border: 2px solid rgb(101, 147, 216);
  background-color: white;
  padding: 0.3em 0.3em;
  margin-bottom: .8em;
  font-weight: bold;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   color: rgb(36, 79, 143);
}

.teamHeader img {
  width: 35px;
}

@media only screen and (max-width: 800px) {
  .spacer {
    height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .spacer {
    height: 120px;
  }
}
